{% extends "main/base.html" %}

{% load static %}

{% block content %}

<div class="content content-fixed content-auth">
      <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
          
          <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
            <div class="wd-100p">
              <h3 class="tx-color-01 mg-b-5" style="color:#fbbd18">Begin Staking</h3>
              <p class="tx-color-03 tx-16 mg-b-40">select you desired stake and approve to begin staking</p>
              <div class="tx-12 mg-b-25">
          <div id="wizard1" style="background: transparent;">
            <h3 style="color:#fbbd18">APR: 60% for 30days</h3>
            <section>
             
              <div class="row row-sm">
                <div class="form-group col-sm-12">
                  <label>Amount</label>
                  <input type="number" class="form-control" placeholder="">
                </div><!-- col -->
                <div class="form-group col-sm-12 d-flex align-items-end">
                  <button class="btn btn-block btn-warning">Approve</button>
                </div><!-- col -->
                
                
                
              </div><!-- form-row -->
            </section>
            <h3 style="color:#fbbd18">APR: 90% for 45days</h3>
            <section>
              
              <div class="row row-sm">
                <div class="form-group col-sm-12">
                  <label>Amount</label>
                  <input type="number" class="form-control" placeholder="">
                </div><!-- col -->
                <div class="form-group col-sm-12 d-flex align-items-end">
                  <button class="btn btn-block btn-warning">Approve</button>
                </div><!-- col -->
              </div><!-- row -->
            </section>
            <h3 style="color:#fbbd18">APR: 120% for 60days</h3>
            <section>
              
              <div class="row row-sm">
                <div class="form-group col-sm-12">
                  <label>Amount</label>
                  <input type="number" class="form-control" placeholder="">
                </div><!-- col -->
                <div class="form-group col-sm-12 d-flex align-items-end">
                  <button class="btn btn-block btn-warning">Approve</button>
                </div><!-- col -->
              </div><!-- row -->
            </section>
          </div>
        </div><!-- df-example -->
              
            </div>
          </div><!-- sign-wrapper -->
        </div><!-- media -->
      </div><!-- container -->
    </div><!-- content -->




    


{% endblock %}